/* Include these styles in your CSS file or use inline styles as needed */

.formouter {
    max-width: 40%;
    margin: auto;
    border: 1px solid brown;
    padding: 2rem;
  }
  
  .loginform {
    width: 100%;
    padding: 5px;
    border-radius: 21px;
    background-color: white;
    border: 1px solid #ee0b42;
    color: #ee0b42;
    font-size: 20px;
  }
  
  .button_1 {
    background-color: #ee0b42;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button_1:hover {
    background-color: #d40935;
  }
  